<div class="container">
  <div class="user-show-wrapper">
    <%= render "user-menu", user_id: @user.id %>
    <div class="user-info-area">
        <div class="user-info">
          <div class="user-image">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "" %>
            <% else %>
              <%= image_tag "dummy-icon", class: "" %>
            <% end %>
          </div>
          <p class="user-info-title">アカウント</p>
          <table class="user-info-table">
              <tr>
                  <th>ユーザー名</th>
                  <td><%= @user.name %></td>
              </tr>
              <tr>
                  <th>プロフィール</th>
                  <td><%= @user.introduce %></td>
              </tr>
          </table>
          <% if session[:user_id] == @user.id then %>
            <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-primary user-edit-btn" %>
          <% elsif session[:user_id] != nil %>
            <% if current_user.following?(@user) %>
              <%= form_with url: relationship_path, method: :delete do |f| %>
                <%= f.hidden_field :followed_id, value: @user.id %>
                <%= f.submit "フォロー解除", class: "btn btn-light" %>
              <% end %>
            <% else %>
              <%= form_with url: relationships_path do |f| %>
                <%= f.hidden_field :followed_id, value: @user.id %>
                <%= f.submit "フォローする", class: "btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>