<div class="container">
  <div class="user-show-wrapper">
    <%= render "user-menu", user_id: @user.id %>
    <div class="user-info-area">
        <div class="user-info">
          <div class="user-image">
            <% if @user.image.attached? %>
              <%= image_tag @user.image, class: "" %>
            <% else %>
              <%= image_tag "dummy-icon", class: "" %>
            <% end %>
          </div>
          <p class="user-info-title">アカウント</p>
          <table class="user-info-table">
              <tr>
                  <th>ユーザー名</th>
                  <td><%= @user.name %></td>
              </tr>
              <tr>
                  <th>メールアドレス</th>
                  <td><%= @user.email %></td>
              </tr>
              <tr>
                  <th>プロフィール</th>
                  <td><%= @user.introduce %></td>
              </tr>
          </table>
          <%= link_to "編集", edit_user_path(@user.id), class: "btn btn-primary user-edit-btn" %>
        </div>
    </div>
  </div>
</div>