<div class="nested-fields">
  <table class="task-table">
    <tr>
      <p> 課題：<%= f.text_field :task_content, placeholder: "目標に対する課題" %> </p>
    </tr>
    <tr>
      <p> アクション：<%= f.text_field :task_action, placeholder: "課題を解決するための行動" %> </p>
    </tr>
    <tr>
      <p> 開始日：<%= f.datetime_field :task_start_date %> </p>
      <p> 終了日：<%= f.datetime_field :task_end_date %> </p>
    </tr>
    <tr>
            <%# 要修正 %>
      <%# <%= link_to_remove_association "削除", f, class: "btn btn-secondary btn-block" %> %>
    </tr>
  </table>
</div>
