<div class="nested-fields">
  <div class="task-form-area">
    <div>
      <p> 課題：<%= f.text_field :content, placeholder: "目標に対する課題", id: "task-content"  %> </p>
      <p> アクション：
      <%= f.text_area :action, placeholder: "課題を解決するための行動", class: "form-control", id: "task-action" %> </p>
      <p> 開始日：<%= f.datetime_field :start_date %> </p>
      <p> 終了日：<%= f.datetime_field :end_date %> </p>
      <p> ステータス：<%= f.select :status, TaskState.all.collect { |a| [a.state, a.id] } %></p>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
    </div>
    <div>
      <%= link_to_remove_association "課題を削除", f, class: "btn-task-delete btn btn-secondary" %>
    </div>
  </div>
</div>
