<div class="container">
  <div class="row">
    <%= render "goals_menu" %>
    <div class="col-lg-8 col-sm-12">
      <%= search_form_for @q do |f| %>
        <%= f.label :content_cont, '内容' %>
        <%= f.search_field :content_cont %>
        <%= f.label :state, '結果' %>
        <%= f.collection_select :result_eq, @states, :id, :state %>
        <%= f.submit class: "btn btn-outline-primary" %>
      <% end %>
      <%= paginate @goals %>
      <%= page_entries_info @goals %>
      <%= render "goals_list", goals: @goals.recent %>
    </div>
    <div class="col-lg-2 col-sm-12">
    </div>
  </div>
</div>