<div class="container">
  <div class="row">
    <%= render "goals_menu" %>
    <div class="col-lg-8 col-sm-12">
      <ul class="goals-list">
        <% @goals.each_with_index do |goal, i| %>
          <li class="goal">
            <div class="ranking-num">
              <h3><%= i + 1 %>位</h3>
            </div>
            <div>
              <%= link_to goal.content, goal_path(goal.id), class: "goal-link goal-title" %>
              <span class="writer">
                投稿者：
                <%= link_to user_path(goal.user.id) do %>
                <%= goal.user.name %>
                <% end %>
              </span><br>
              <span class="bookmark">ブックマーク数：<%= goal.bookmarks.count %> </span>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-lg-2 col-sm-12">
    </div>
  </div>
</div>