<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-10">
      <table class="goal-table">
        <tr>
          <span class="writer">
            投稿者：
            <%= link_to user_path(@goal.user.id) do %>
            <%= @goal.user.name %>
            <% end %>
          </span><br>
          <span class="goal-title"> <%= @goal.content %> </span>
          <% if session[:user_id] %>
            <% if current_user.bookmark?(@goal) %>
              <%= link_to bookmark_path(@goal.id), method: :delete, class: "bookmark-btn", id: "remove-bookmark" do %>
                <%= image_tag "icon_bookmark" %>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(goal_id: @goal.id), method: :post, class: "bookmark-btn", id: "add-bookmark" do %>
                <%= image_tag "icon_unbookmark" %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <th>課題</th>
          <td>
            <% @goal.tasks.each do |task| %>
              <%= link_to task.content, task_path(task.id) %>
              <span><%= task.state_text(task.status) %></span><br>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>結果</th>
          <td> <%= @result %> </td>
        </tr>
        <tr>
          <th>
            原因<br>
            (達成の場合は成功要因)
          </th>
          <td> <%= @goal.cause %> </td>
        </tr>
        <tr>
          <th>改善案</th>
          <td> <%= @goal.improvement %> </td>
        </tr>
      </table>
      <div class="btn-area">
      <% if session[:user_id] == @goal.user.id %>
        <%= link_to "編集", edit_goal_path(@goal.id), class: "btn btn-primary" %>
        <%= link_to "削除", goal_path(@goal.id), method: :delete, class: "btn btn-danger" %>
      <% end %>
      <%= link_to "一覧に戻る", goals_path, class: "btn btn-dark" %>
      </div>
      <p class="comment-title">コメント(<%= @goal.comments.count %>)</p>
      <div class="comment-area">
        <% @goal.comments.each do |comment| %>
          <ul class="comment-list">
            <li class="comment">
              <div><%= link_to comment.user.name, user_path(comment.user.id) %></div>
              <div id="js-comment-<%= comment.id %>">
                <p id="js-comment-label-<%= comment.id %>"><%= comment.comment %></p>
                <p id="js-comment-post-error-<%= comment.id %>" class="text-danger"></p>
                <textarea style="display: none;" id="js-textarea-comment-<%= comment.id %>" class="form-control comment-post-error"><%= comment.comment %></textarea>
                <div id="js-comment-button-<%= comment.id %>" style="display: none;">
                  <button data-cancel-id=<%= comment.id %> type="button" class="btn btn-light comment-cancel-button">キャンセル</button>
                  <button data-update-id=<%= comment.id%> type="submit" class="btn btn-success comment-update-button">更新</button>
                </div>
              </div>
              <% if comment.user.id == session[:user_id] %>
                <div>
                  <a data-comment-id=<%= comment.id %> class="js-edit-comment-button" id="edit-comment">
                    <i class="fas fa-edit text-primary"></i>
                  </a>
                  <%= link_to comment_path(comment.id), method: :delete, data: { confirm: "コメントを削除します。よろしいですか？"}, id: "remove-comment" do %>
                    <i class="fas fa-trash-alt text-primary"></i>
                  <% end %>
                </div>
              <% end %>
            </li>
          </ul>
        <% end %>
        <% if session[:user_id] %>
          <div class="comment-form">
            <%= form_with model: Comment.new do |f| %>
              <%= f.text_area :comment, class: "form-control", placeholder: "コメントを記入してください" %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :goal_id, value: @goal.id %>
              <%= f.submit "投稿する", class: "btn btn-primary", id: "add-comment" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>