<div class="container">
  <div class="row">
    <div class="col-lg-8 col-sm-10">
      <table class="goal-table">
        <tr>
          <span class="goal-title"> <%= @goal.content %> </span>
          <% if session[:user_id] %>
            <% if current_user.bookmark?(@goal) %>
              <%= link_to bookmark_path(@goal.id), method: :delete, class: "bookmark-btn" do %>
                <%= image_tag "icon_bookmark" %>
              <% end %>
            <% else %>
              <%= link_to bookmarks_path(goal_id: @goal.id), method: :post, class: "bookmark-btn" do %>
                <%= image_tag "icon_unbookmark" %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <tr>
          <th>課題</th>
          <td>
            <% @goal.tasks.each do |task| %>
              <%= link_to task.content, task_path(task.id) %>
              <span><%= task.state_text(task.status) %></span><br>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>結果</th>
          <td> <%= @result %> </td>
        </tr>
        <tr>
          <th>
            原因<br>
            (達成の場合は成功要因)
          </th>
          <td> <%= @goal.cause %> </td>
        </tr>
        <tr>
          <th>改善案</th>
          <td> <%= @goal.improvement %> </td>
        </tr>
      </table>
      <%= link_to "編集", edit_goal_path(@goal.id), class: "btn btn-primary" %>
      <%= link_to "削除", goal_path(@goal.id), method: :delete, class: "btn btn-danger" %>
      <%= link_to "一覧に戻る", goals_path, class: "btn btn-dark" %>
    </div>
  </div>
</div>